{% extends 'core/base/crud/base_model_list.html' %}
{% load static %}
{% block title %}Productos{% endblock %}
    
    {% block title_table %}Productos{% endblock %}
    {% block model_url_new %}{% url 'inventories:product-create' %}{% endblock %}
    {% block model_url_print %}{% url 'inventories:product-reports' %}{% endblock %}
    
    
    {% block table_content %}
		
			<table id="table" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Categoría</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
			{% for product in product_list|dictsort:"name" %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{{ product.get_absolute_url }}">{{ product.name }}</td>
				<td>{{ product.desc|truncatechars:"130" }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.subcategory }}</td>
				<td>
					<a href="{% url 'inventories:product' product.slug_name %}"><i class="fa fa-fw fa-eye"></i></a>
					{% if request.user.is_staff %}
						<a href="{% url 'inventories:product-update' product.slug_name %}"><i class="fa fa-fw fa-pencil"></i></a>
						<a href="{% url 'inventories:product-delete' product.slug_name %}"><i class="fa fa-fw fa-trash"></i></a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Subcategoría</th>
				<th>Acciones</th>
			</tr>
			</tfoot>
			</table>


    {% endblock %}

{% block js_page %}

{% endblock %}
