{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Productos{% endblock %}
{% block content %}
<section class="content-header">
  <h1>
    Productos
  </h1>
</section>
<section class="content">
	<div class="box">
		<div class="box-header">
            {% if product_list %}
			    <h3 class="box-title ">Listado</h3>
            {% else %}
                <h3 class="box-title">Sin elementos para mostrar.</h3>
            {% endif %}
		</div>
        <div>
            <div class="col-lg-2">
			    <a class= "btn btn-primary" href="{% url 'inventories:category-create' %}"><i class="fa fa-fw fa-plus"></i></a>
		    </div>
            <div class="col-lg-1">
			    <a class= "btn btn-primary" href=""><i class="fa fa-fw fa-print"></i></a>
		    </div>
            <div class="col-lg-3">
			    <a class= "btn btn-primary" href=""><i class="fa fa-fw fa-file"></i> PDF</a>
		    </div>
        </div>
		<!-- /.box-header -->
		{% if product_list %}
		<div class="box-body">
			<table id="table" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Categoría</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
			{% for product in product_list|dictsort:"name" %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{{ product.get_absolute_url }}">{{ product.name }}</td>
				<td>{{ product.desc|truncatechars:"130" }}</td>
				<td>{{ product.price }}</td>
				<td>{{ product.subcategory }}</td>
				<td>
					<a href="{% url 'inventories:product' product.slug_name %}"><i class="fa fa-fw fa-eye"></i></a>
					{% if request.user.is_staff %}
						<a href="{% url 'inventories:product-update' product.slug_name %}"><i class="fa fa-fw fa-pencil"></i></a>
						<a href="{% url 'inventories:product-delete' product.slug_name %}"><i class="fa fa-fw fa-trash"></i></a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Subcategoría</th>
				<th>Acciones</th>
			</tr>
			</tfoot>
			</table>
			{% include 'core/includes/pagination.html' %}
		{% endif %} 
		</div>
		<!-- /.box-body -->
    </div>
    <!-- /.box -->
</section>
{% endblock %}
