{% extends 'core/base/crud/base_model_list.html' %}
{% load static %}
{% block title %}Subcategorias{% endblock %}
    
    {% block title_table %}Subcategoría{% endblock %}
    {% block model_url_new %}{% url 'inventories:subcategory-create' %}{% endblock %}
    {% block model_url_print %}{% url 'inventories:subcategory-reports' %}{% endblock %}

    {% block table_content %}		
			<table id="table" class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Categoría</th>
				<th>Acciones</th>
			</tr>
			</thead>
			<tbody>
			{% for subcategory in subcategory_list|dictsort:"name" %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</td>
                <td>{{ subcategory.category }}</td>
				<td>
					<a href="{% url 'inventories:subcategory' subcategory.slug_name %}"><i class="fa fa-fw fa-eye"></i></a>
					{% if request.user.is_staff %}
						<a href="{% url 'inventories:subcategory-update' subcategory.slug_name %}"><i class="fa fa-fw fa-pencil"></i></a>
						<a href="{% url 'inventories:subcategory-delete' subcategory.slug_name %}"><i class="fa fa-fw fa-trash"></i></a>
					{% endif %}
				</td>
			</tr>
			{% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<th>#</th>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
			</tfoot>
			</table>


    {% endblock %}

{% block js_page %}

{% endblock %}
